{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminStyle') }}
    {{ encore_entry_link_tags('adminListeStyle') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        {# Marge universelle #}
        <div class="top-margin"></div>

        {# Header #}
        <div class="header">Liste des résultats du test</div>

        {# Liste des jeux de test #}
        <div id="liste-resultats" class="liste-tests">
            {% include 'admin/listeResultats.html.twig' %}
        </div>

        {# Marge universelle #}
        <div class="top-margin"></div>
    </div>
{% endblock %}