<table>
    <thead>
        <tr>
            <th style="width:7%">N°</th>
            <th style="width:15%">Carte</th>
            <th style="width:10%">C</th>
            <th style="width:10%">F</th>
            <th style="width:10%">N</th>
            <th style="width:10%">A</th>
            <th style="width:20%">Réponse <br> (+ / E / EP)</th>
        </tr>
    </thead>
    <tbody>
        {% set ep = erreursP|map(p => p.numero) %}
        {% for choix in listeChoix %}
            {% set dernierNumero = choix.numero %}
            <tr>
                <td>{{ choix.numero }}</td>
                <td>{{ choix.cartePosee.typeCode }}</td>
                <td class="choix">
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == 'couleur' %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td class="choix">
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == 'forme' %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td class="choix">
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == 'nombre' %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td class="choix">
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == '' %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td class="reponse">
                    {% if choix.isBonneReponse %}
                        +
                    {% elseif choix.numero in ep %}
                        <span class="ep">EP</span>
                    {% else %}
                        <span class="erreur">E</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if listeChoix|length < 24 %}
            {% for i in 0..listeChoix|length - 23 %}
                <tr class="empty">
                    <td>{{ dernierNumero - i + 1 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>