<table>
    <thead>
        <tr>
            <th>N°</th>
            <th>Carte</th>
            <th>C</th>
            <th>F</th>
            <th>N</th>
            <th>A</th>
            <th style="width:15%">Réponse <br> (+ / E / EP)</th>
        </tr>
    </thead>
    <tbody>
        {% set ep = erreursP|map(p => p.numero) %}
        {% for choix in listeChoix %}
            {% set dernierNumero = choix.numero %}
            <tr>
                <td>{{ choix.numero }}</td>
                <td>{{ choix.cartePosee.typeCode }}</td>
                <td>
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == 'couleur' %}
                        X
                    {% endif %}
                </td>
                <td>
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == 'forme' %}
                        X
                    {% endif %}
                </td>
                <td>
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == 'nombre' %}
                        X
                    {% endif %}
                </td>
                <td>
                    {% if choix.cartePosee.getMatchedRegle(choix.carteReference) == '' %}
                        X
                    {% endif %}
                </td>
                <td style="width:15%">
                    {% if choix.isBonneReponse %}
                        +
                    {% elseif choix.numero in ep %}
                        EP
                    {% else %}
                        E
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if listeChoix|length < 24 %}
            {% for i in 0..listeChoix|length - 23 %}
                <tr class="empty">
                    <td>{{ dernierNumero - i + 1 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>