@import 'assets/styles/variables';

.wrapper {
  width: 60%;
  min-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #4e80b3;
  color: white;
  font-size: 20px;
  position: relative;

  .back {
    cursor: pointer;
    position: absolute;
    font-size: 40px;
    left: 20px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.liste-tests {
  table {
    width: 100%;
    border-width: 1px;
    border-color: grey;
    border-style: solid;

    tbody {
      tr {
        &:hover {
          cursor: pointer;
          background-color: aliceblue;
        }
      }
    }

    tr {
      td {
        width: calc(100% / 9);
        border-width: 1px;
        border-color: grey;
        border-style: solid;
        padding:5px;

        &.number {
          text-align :right;
        }
      }
    }
  }
}

#infos {
  .titre {
    background-color: rgba(0, 150, 202, 0.59);
  }
  .header-infos {
    border: 2px solid rgba(0, 150, 202, 0.59);
  }
}

#cotation {
  .titre {
    background-color: #a8b5d2;
  }
  .header-infos {
    border: 2px solid #a8b5d2;
  }
  .row {
    border-bottom: 1px solid #ececec;
  }
}

#deroulement {
  .titre {
    background-color: #d2b8bc;
  }
  .header-infos {
    border: 2px solid #d2b8bc;
  }
}

.detail {
  .titre {
    padding: 10px;
    background-color: #a8b5d2;
    color: white;
    font-size: 20px;
  }

  .header-infos {
    overflow: auto;

    .section {
      display: inline-block;
      width: 49%;
      float: left;
      padding: 5px;
    }

    .row {
      width: calc(100% - 20px);
      padding: 5px;
      margin-top: 5px;
      margin-bottom: 5px;

      div {
        display: inline-block;
        padding-bottom: 2px;
      }
      .label {
        width: 80%;
      }
      .value {
        width: 19%;
        text-align: right;
      }
    }
  }
}

.detail {
  table {
    width: 100%;
    border-width: 1px;
    border-color: black;
    border-style: solid;

    tr {
      td {
        width: calc(100% / 7);
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding:3px;
        text-align: center;
      }
    }

    tr.empty{
      td{
        background-color: grey;
      }
    }
  }
}