{% extends 'base.html.twig' %}

{% block body %}
    <div class="thanks">
        Nous vous remercions pour votre participation !
        <br>
        <br>
        Vous pouvez dorénavant quitter cette page.
    </div>
{% endblock %}